{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <ol class="flex breadcrumb">
    {% for item in breadcrumb %}
      <li class="truncate">
        {% if item.url %}
          <a class="font-semibold" href="{{ item.url }}">{{ item.text }}</a><span class="px-1 md:px-3">/</span>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
