{# Output classes in html #}
{% block paragraph %}

<div {{ attributes }}>

{%
  include '@nzpComponents/features/feature--secondary.html.twig' with {
    feature_image: content.field_image,
    feature_title:  content.field_title,
    feature_description: content.field_text,
    feature_bg_options: content.field_bg_color.0['#markup'],
    feature_placement_options: content.field_image_placement.0['#markup'],
    feature_link_url: content.field_link.0['#url'], 
    feature_link_text: content.field_link.0['#title'], 
  }  
%}

</div>

{% endblock paragraph %}    