@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-thumbnail-container {
    display: flex;
    gap: 1em;
}

.grid-thumbnail-container img {
    height:100%;
    object-fit:cover;
    border-radius: 4px;
    cursor:pointer;
    margin:0.5em;

    
}

.modal-container {
    position:fixed;
    inset:0;
    z-index:100;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding:3em;
    background:white;
}

.modal-container img {
    max-height: 80vh;
}

.modal-container .prev, .modal-container .next {
    position:absolute;
    font-size:medium;
    cursor: pointer;

}

.prev {
    left: 1em;
}

.next {
    right: 1em;
}

.grid-thumbnail-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .grid-thumbnail-container::-webkit-scrollbar-track {
    @apply bg-lightgray rounded-sm;
  
  }
  
  .grid-thumbnail-container::-webkit-scrollbar-thumb {
    @apply bg-oxford-blue rounded-md w-4;
  }


  .banner-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: 2em;
    width: 100%;
    padding-left:75%;
    z-index:1;
    background: linear-gradient(269deg, #002554, #002554fc, #00255433, #0000001c);
}

.banner-caption * {
    color: white
}
