.alert {
  @apply py-1 px-2 relative my-2;
}

.alert * {
  @apply text-white;
}

.alert .close {
  @apply absolute top-0 right-0 text-xl p-2;
}

.warning-message,
.alert-warning {
  @apply bg-cyber-yellow;
}
.danger-message,
.alert-danger {
  @apply bg-sizzling-red;
}

.status-message,
.alert-info, .alert-success {
  @apply bg-sap-green;
}

/* Buttons */

.btn,
.button{
  @apply font-bold my-2 inline-block py-2 px-4 rounded bg-oxford-blue text-white cursor-pointer shadow-sm hover:bg-blue-sapphire;
}
.btn-primary,
.button--primary {
  @apply bg-oxford-blue;
}
.button--primary a {
  color: white;
}
.btn-primary:hover,
.button--primary:hover {
  @apply bg-sap-green;
}


.layout-builder-form {
  @apply container mx-auto py-4;
}

/* Blazy Overrides */

.blazy,
.media--blazy {
  @apply w-full h-full flex;
}

.blazy img,
.media--blazy img {
  @apply object-cover object-center h-full w-full;
}

body {
  @apply leading-normal text-headings text-[16px] font-body;
}

.section-animals .landing-title:before,
.section-animals .landing-title:after,
.section-animals .page-title:after {
  @apply border-tea-green bg-tea-green;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply text-4xl pb-1 mb-1;
}

h2 {
  @apply text-xl pb-1 mb-1 font-bold;
}

h3 {
  @apply text-lg pb-1 mb-1 font-semibold;
}

/* Block titles inside an Aside element: */
.block-title {
  @apply font-bold mb-6 border-b-2 border-lightergray;
}

aside .block-title {
  @apply  bg-sap-green px-4 py-2 border-none text-white;
}

.page-title {
  @apply lg:text-6xl py-4 mb-1 font-bold flex items-center;
}

.landing-title {
  @apply relative text-4xl pb-1 mb-1 mt-2 font-bold flex items-center text-center;
}

.landing-title:before,
.landing-title:after {
  content: "";
  height: 4px;
  position: relative;
  vertical-align: middle;
  flex: 15%;
  margin: 0 10px;
  background-color: bg-tea-green;
}

/* Containers */

.container,
.container-fluid {
  @apply mb-4 lg:px-0 px-4;

}

p ul,
ol {
  @apply list-outside ml-8;
}

p ol {
  @apply list-decimal;
}

p ul li {
  @apply list-decimal;
}

p ul li > li {
  @apply list-disc ml-4;
}

/* Nav Tabs overrides */

.nav-tabs a[aria-selected="true"] {
  @apply border-sizzling-red border-b-2;
}

.nav-tabs > li {
  margin:0;
}

.visually-hidden {
  @apply hidden;
}

a {
  @apply !no-underline;
}

.breadcrumb {
  @apply list-none my-8 !mx-0 !pl-0;
}
/* Mega Menu */

.open {
  display: block !important;
}

.main-menu--level-0 > li.active {
  @apply text-xl flex-wrap flex-row overflow-auto;
}

.main-menu--level-0 > li.active svg {
  transform: rotate(90deg);
}
.main-menu--level-0 > li.active .mega-menu {
  @apply top-0 mt-2;
}

.main-menu--level-0 > li > span a {
  @apply font-semibold flex flex-grow lg:p-2 text-white lg:justify-center items-center;
}

.main-nav:hover {
  @apply lg:flex flex-none;
}

.mega-menu {
  @apply lg:bg-white p-4 left-2/4 w-10/12 transform -translate-x-2/4 lg:mt-[59px] translate-y-[-10px] hidden z-10; 

}
 
.main-menu--level-0 li:hover > .mega-menu {
  @apply lg:block !important;
}

.toggle-dropdown {
  @apply lg:hidden !important;
}

.dropdown-hide {
  display: none !important;
}

.dropdown-show {
  display: block !important;
  position: relative;
}

/* icons */
.label-hidden .icon-label {
  @apply hidden;
}

/* Card Teaser */

.card-teaser {
  @apply m-auto relative rounded overflow-hidden shadow-lg;
}

.card-teaser--title {
  @apply h-full px-6 py-4   absolute inset-0;
}

.card-grid > div,
.card-grid article {
  height: 100%;
}

.teaser--image-bg-image,
.teaser--image-bg-image div:not(.contextual),
.teaser--image-bg-image img {
  @apply m-0 h-full object-cover;
}


.layout-four-cols {
  @apply lg:grid-cols-4 md:grid-cols-2 grid-cols-1;
}

.layout-three-cols {
  @apply lg:grid-cols-3 md:grid-cols-2 grid-cols-1;
}

.layout-two-cols {
  @apply lg:grid-cols-2 md:grid-cols-2 grid-cols-1;
}

.layout-one-col {
  @apply grid-cols-1;
}

.grid-span-12 {
  @apply col-span-12;
}

.grid-span-6 {
  @apply col-span-12 lg:col-span-6 md:col-span-6;
}

.grid-span-4 {
  @apply col-span-12 lg:col-span-4 md:col-span-4;
}

.grid-span-3 {
  @apply col-span-12 lg:col-span-3 md:col-span-4;
}

.grid-span-2 {
  @apply col-span-12 lg:col-span-6 md:col-span-6;
}

.pager > ul {
  @apply container flex flex-row flex-nowrap justify-between md:justify-center items-center mt-6 mb-4;
}

.pager__item a {
  @apply flex w-10 h-10 mr-2 font-bold font-body justify-center items-center rounded-full border-blue-sapphire bg-blue-sapphire text-white hover:bg-blue-sapphire;
}

.pager__item--ellipsis {
  @apply text-2xl;
}

/* Forms */

.views-exposed-form {
  @apply flex flex-wrap;
}

.views-exposed-form .form-actions {
  @apply flex items-center;
}
.form-item, .form-actions {
  @apply py-4 mr-4;
}

.form-item label, legend {
  @apply space-x-2 pl-2 text-lg;
}

.form-item [type="text"], [type="email"], [type="number"], textarea, select {
  @apply mt-2 bg-lightestgray border-2 border-lightestgray rounded w-full py-2 px-4 text-darkgray leading-tight focus:outline-none focus:bg-white focus:border-blue-sapphire transition-all h-12 mb-2 text-lg focus:shadow-md;
}

textarea {
  @apply h-auto;
}

select {
  @apply bg-lightestgray;
}

/* .form-actions {
  @apply flex justify-center;
} */


.js-form-type-radio {
  @apply flex flex-row content-center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:1em;

}
.js-form-type-radio label {
  @apply normal-case;
}



.site--logo {
  box-shadow: 0px 20px 25px -16px rgb(0 0 0 / 22%);
  @apply z-30 lg:w-[350px] w-[250px] flex items-center pl-2 mr-2 h-[80px] lg:p-4 absolute bg-white;
}

.site--logo:before {
  content: "";
  width: 100%;
  position: absolute;
  background: text-white;
  height: 80px;
  z-index: -1;
  left: 10%;
  transform: skew(-28deg, 0deg);
  top: 0;
}


img {
  @apply !m-0;
}



.stretch * {
 @apply w-full;

}


.search-form {
  overflow:visible;
}

.search-form .form-item  {
  padding:0px;
  margin:0px;
}
.search-form input[type="text"] {
  width:100%;
  border-radius:1.5em;
  position:relative;
  padding: 1em 0.5em;
  margin:0 !important;
}

.search-form input[type="submit"] {
  display:none;
}

.fill-black svg {
  fill: #444;
  z-index:1000
}

/* horizontal links styling */
.horizontal-links > a {
  @apply !text-oxford-blue;
}

/* Main Menu */

header {
  transition: all 0.5s ease;
 
}

header.scrolled {
  @apply lg:translate-y-[-5em];
}



header.scrolled  .header--hours {
  opacity: 0;
}



.menu_link_content { 
   @apply mx-auto w-[80%];
}

.menu-promo {
  @apply lg:border-l-2 lg:border-gray lg:pl-[2em];  
}

/* main content area */

main {
  @apply lg:relative lg:mt-[12em];
}


/* Layout Builder backgrounds */

.knockout {
  @apply p-4;
}

.knockout * {
  color: white;
}

.knockout .layout-builder-block {
  background: none;

}


/* Layout Builder Overrides */

.knockout .layout-builder__add-block {
  background:none; 
}


.lpb-controls:not(.is-layout) * {
  @apply text-darkestgray z-50;
}

.lpb-enable__wrapper {
  @apply relative;
}

.teaser-img-container > img {
  /* @apply w-[200px] h-[200px] inline-block align-top bg-cover bg-center; */
  @apply w-full; 
}


.swiper-slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.looping-video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}



/* POLL STYLING */
.poll .fieldset-wrapper {
  display: flex;
  flex-wrap:wrap;
}

.poll .fieldset-wrapper > div {
  @apply flex flex-wrap gap-2;
  
}
.poll .form-item-choice {
  @apply w-full;
}
.poll .form-item-choice label {
  @apply w-full py-2 m-0 cursor-pointer;

}

.poll .fieldset-wrapper .form-item-choice input {
  opacity: 0;
}

.poll .fieldset-wrapper .form-item-choice input:checked + label {
  @apply bg-lightestgray;

}