<div class="teaser--image-bg flex flex-col m-auto relative rounded overflow-hidden shadow-lg h-full">
	<div class="teaser--image-bg-image">{{image}}</div>
	<a href="{{link}}" class="teaser--image-bg-title bottom-0 left-0 right-0 bg-oxford-blue px-6 py-4 relative">
		<h3 class="m-auto text-white">{{title}}</h3>
	</a>
	<div class="teaser--image-bg-description">{{description}}</div>
</div>
