<div class="teaser--image-bg m-auto relative rounded overflow-hidden shadow-lg h-full">
	<div class="teaser--image-bg-image">{{image}}</div>
	<a href="{{link}}" class="teaser--image-bg-title h-full px-6 py-4 absolute inset-0">
		<h3 class="m-auto text-white">{{title}}</h3>
	</a>
	<div class="teaser--image-bg-description">{{description}}</div>
</div>
