{#
this callout box component reads the current page's path and then sets the 
border color based on that path. E.g. if the page is in the visit section then
the callout box gets an orange border.
#}

{% set path = path('<current>')|clean_class %}


{% if content %}
    <div class="absolute z-10 border-t-8 left-8 top-8 bg-off-white h-auto border{{path}} lg:max-w-[225px] w-[225px] flex content-center p-4 rounded-md shadow-md">
    <div {{region_attributes.content}} >
                {{ content.content }}
            </div>    
    </div>
{% endif %}