{% import directory ~ '/components/utils/macro.twig' as macro %}


{% set color_class %}
{{macro.section_color(["visit", "events", "animals", "conservation", "support", "membership", "education"], 'darkergray')|trim}}
{% endset %}

{% set bg_color_class = 'bg-'~color_class %}

    {% if 'knockout' in styles %}
      {% set styles =
        styles|replace({
          knockout: 'text-white px-2 py-4 '~ bg_color_class
        })
      %}
    {% endif %}
    {% if 'centered' in styles %}
      {% set styles =
        styles|replace({
          centered: 'text-center'
        })
      %}
    {% endif %}

    {% if 'border' in styles %}
      {% set styles =
        styles|replace({
          border: 'border-b-2 border-' ~ path
        })
      %}
    {% endif %}

<h2 class="section-header {{styles}}"> {{ section_heading }}</h2>