

{% set color_class %}
{% endset %}

{% set bg_color_class = 'bg-'~color_class %}

    {% if 'knockout' in styles %}
      {% set styles =
        styles|replace({
          knockout: 'block-title'
        })
      %}
    {% endif %}
    {% if 'centered' in styles %}
      {% set styles =
        styles|replace({
          centered: 'text-center'
        })
      %}
    {% endif %}

    {% if 'border' in styles %}
      {% set styles =
        styles|replace({
          border: 'border-b-2 border-' ~ path
        })
      %}
    {% endif %}

<h2 class="section-header mt-0 {{styles}}"> {{ section_heading }}</h2>