/* Buttons */

.btn,
.button{
  @apply font-bold my-2 inline-block py-2 px-4 rounded bg-oxford-blue text-white cursor-pointer shadow-sm hover:bg-blue-sapphire;
}
.btn-primary,
.button--primary {
  @apply bg-oxford-blue;
  a {
   @apply text-white;
  }
}

.button--primary:hover {
  @apply bg-sap-green;
}

.layout-builder-form {
  @apply container mx-auto py-4;
}

.more-link {
  @apply btn-primary button;
  a {
    @apply text-white flex flex-wrap items-center;
    &:after {
      content: "›";
      margin-left:0.5em;
      font-size:1.5em;
    }
  }
}
