#iucn-list {
  position: relative;
  margin: 3em 2em;
  &:before {
    content: " ";
    position: absolute;
    width: 10px;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, #a90b0b, #f9cd00, #ffff54, #44a544);
    height: 100%;
    border-radius: 5px;
  }
  li {
    margin:0;
    display: flex;
    align-items: center;
    height:40px;
    padding: 0 0 0 2em;
    &:not(:first-child) span:before {
      content: "";
      height: 13px;
      width: 2px;
      position: absolute;
      background: #efefef;
      bottom: 100%;
      z-index: -1;
    }

    span {
      pointer-events: none;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 15px;
      width: 30px;
      height: 30px;
      border: 2px solid #efefef;
      border-radius: 100%;
      text-transform: uppercase;
      font-size: 0.75em;
      background: white;
      z-index: 1;
      line-height: 0;
      &.active {
        background-color: #f9cd00 !important;
        font-weight: bold;
      }
    }
  }
}