/* Typography */

  
body {
  font-size:14px;
}

a {
    @apply !no-underline;
  }
  

p ul,
ol {
  @apply list-outside ml-8;
}

p ol {
  @apply list-decimal;
}

p ul li {
  @apply list-decimal;
}

p ul li > li {
  @apply list-disc ml-4;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    @apply text-4xl pb-1 mb-1;
  }
  
  h2 {
    @apply text-xl pb-1 mb-1 font-bold;
  }
  
  h3 {
    @apply text-lg pb-1 mb-1 font-semibold;
  }

  
  /* Block titles inside an Aside element: */
  .block-title {
    @apply font-bold mb-6 border-b-2 border-lightergray capitalize;
  }
  
  aside .block-title {
    @apply  bg-sap-green px-3 py-1 mt-0 border-none text-white text-base;
     a {
      @apply  text-white font-bold;
     }
  }
  
  .page-title {
    @apply lg:text-6xl py-4 mb-1 font-bold flex items-center;
  }
  
  .landing-title {
    @apply relative text-4xl pb-1 mb-1 mt-2 font-bold flex items-center text-center;
  }
  
  .landing-title:before,
  .landing-title:after {
    content: "";
    height: 4px;
    position: relative;
    vertical-align: middle;
    flex: 15%;
    margin: 0 10px;
    background-color: bg-tea-green;
  }

/* format publications block on scbi project pages */  
.publications-wrapper span {
  @apply block mb-4;
}