.edan-record .og-menu  {
  padding: 5px 10px;
  /*background-color: #EFF3F4;*/
  border: 1px solid #e9eef0;
}
.edan-record .og-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.edan-record .og-menu ul > li {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0 0 1em 0;
}
.edan-record .og-menu .menu-item.active {
  font-weight: bold;
}

.location-formatted-location span {
  display: block;
}
.edan-record .description {
  margin: 1.5em 0;
}

.edan-record .media-container figure {
  margin-bottom: 1.5em;
}
@media (min-width: 680px) {
  .edan-record.has-menu .content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2.5em;
  }
  .edan-record.has-menu .inner {
    grid-column-end: span 9;
  }
  .edan-record.has-menu .og-menu {
    grid-column-end:  span 3;
  }
  .edan-record:not(.has-menu) .media-wrapper {
    float: right;
    max-width: 40%;
    margin: 0 0 2em 2em;
  }
  .edan-record .location-content,
 .location-content + .location-record-content-floor-plan {
    display: inline-block;
  }
}
@media (min-width: 980px) {
  .edan-record.media-layout .inner {
    grid-column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 62%;
  }
  .edan-record.media-layout.has-menu .inner {
    grid-template-columns: 1fr 70%;
  }
  .edan-record.media-layout .inner .content {
    order: 0;
  }
  .edan-record.media-layout.has-menu .inner .content {
    order: 2;
  }
}

