{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('tailwind_nzp/iucn_js') }}



<ul id="iucn-list" data-designation="{{items.0.content['#markup']}}">
<li class="lc"><span class="iucn--badge">lc</span><span class="iucn--label">Least Concern</span></li>
<li class="nt"><span class="iucn--badge">nt</span><span class="iucn--label">Near Threatened</span></li>
<li class="vu"><span class="iucn--badge">vu</span><span class="iucn--label">Vulnerable</span></li>
<li class="en"><span class="iucn--badge">en</span><span class="iucn--label">Endangered</span></li>
<li class="cr"><span class="iucn--badge">cr</span><span class="iucn--label">Critically Endangered</span></li>
<li class="ew"><span class="iucn--badge">ew</span><span class="iucn--label">Extinct in the Wild</span></li>
<li class="ex"><span class="iucn--badge">ex</span><span class="iucn--label">Extinct</span></li>
<li class="dd"><span class="iucn--badge">dd</span><span class="iucn--label">Data Deficient</span></li>
<li class="ne"><span class="iucn--badge">ne</span><span class="iucn--label">Not Evaluated</span></li>
</ul>