{{ attach_library('tailwind_nzp/grid_gallery') }}
{{ attach_library('tailwind_nzp/swiperjs') }}



<div class="gallery-wrapper relative overflow-hidden grid grid-cols-12 gap-x-4">
<div class=" col-span-12 lg:col-span-9">
	<div class="media-container overflow-hidden swiper-container">		
		<div
			class="swiper-wrapper">
			{% for key, slide in gallery %}
				<div class="swiper-slide w-full">
					{{ slide }}
				</div>
			{% endfor %}
		</div>
		<div class="absolute inset-y-0 left-0 z-10 flex items-center">
			<button class="swiper-prev bg-white ml-1 flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none">
				<svg viewbox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6">
					<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
		<div class="absolute inset-y-0 right-0 z-10 flex items-center">
			<button class="swiper-next bg-white mr-1 flex justify-center items-center w-10 h-10 rounded-full shadow focus:outline-none">
				<svg viewbox="0 0 20 20" fill="currentColor" class="chevron-right w-6 h-6">
					<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
	</div>
</div>


<div class="lg:max-h-[500px] grid-thumbnail-container h-full hover:overflow-y-scroll  lg:col-span-3 col-span-12">
<div class="grid lg:grid-cols-2 grid-cols-4 gap-2 auto-rows-max">
	{% for key, thumbnail in thumbnails %}
		<div class="grid-thumbnail-item col-span-1">
			{{ thumbnail }}
		</div>
	{% endfor %}
</div>
</div>

