
{% block paragraph %}
	<div{{attributes}}>
  	{{ content.controls }}

{%
  include '@nzpComponents/typography/callout.html.twig' with {
    callout_content: content,
    callout_color: paragraph.field_border_color.value,
  }  
%}
</div>
{% endblock %}
