<div class="bg-tea-green lg:p-2">
<ul class="flex gap-4 lg:justify-center lg:text-2xl text-oxford-blue overflow-x-auto">
    {% for key, link in links %}
       <li class="horizontal-links flex content-center first:pl-0 last:border-none pr-4 lg:border-r-2 lg:border-white">{{ link }}</li>
    {% endfor %}
</ul>
</div> 
