{%
  include '@nzpComponents/cards/card--list-variant.html.twig' with {
    title: node.label,
    link: url,
    content_type: content_type,
    authored_date: node.getCreatedTime()|format_date('short'),
  } 
%}
<h1>test</h1>